nav {
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgray;
}


nav > div {
  padding-left: 10px;
  padding-right: 10px;
}



.navigationList {
  display:flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navigationList > li {
  /* give li width and center text in it  */
  width: 200px;
  text-align: center;
  /* give list item height and center text  */
  height: 50px;
  line-height: 50px;
   /* remove the list style from the list items */
  list-style: none;
  /* make it look like a button  */
  cursor: pointer;

}

.navigationList > li:hover{
  background-color: darkgray;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
